<div class="parent">
    <div mat-dialog-title style="display: flex; justify-content: space-between;">
        <div style="font-weight: 500; font-size: 18pt; font-family: 'Rubik', sans-serif;">{{data ? 'Release' : 'Book'}}
        </div>
        <span class="material-icons" [mat-dialog-close]="true">
            close
        </span>
    </div>
    <hr>
    <div mat-dialog-content>
        <mat-form-field class="w-100">
            <mat-label>Vehicle Registration Number</mat-label>
            <input matInput placeholder="Registration Number" type="text" [formControl]='registrationNumber' required>
        </mat-form-field>
        <div align="center">
            <button mat-raised-button color="primary" (click)="saveBooking()">{{data ? 'Release' : 'Book'}}</button>
        </div>
    </div>
</div>