<div class="m-3">
    <div align="right">
        <button mat-raised-button color="primary">Reset</button>
    </div>
    <div class="mt-2">
        <mat-tab-group mat-stretch-tabs class="mat-elevation-z4" (selectedTabChange)="filterParkingSpace($event)">
            <mat-tab *ngFor="let z of zones" [label]="z.zone_title">
                <div class="row spaceContent">
                    <div class="col-md-6" *ngFor="let s of filteredSpaces">
                        <div class="spaceContainer">
                            <div class="spacecard">
                                <p><strong>{{s.space_title}}</strong></p>
                                <div [ngClass]="(s.status === 'vacant') ? 'spacestatusvacant' : 'spacestatusoccupied'"
                                    (click)="openBookingModal(z._id,s._id,s.status)">
                                </div>
                            </div>
                            <hr>
                            <p align="center">Not Booked</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>