<div class="m-3">
    <div align="right">
        <button *ngIf="isAgent" mat-raised-button color="primary" (click)="onReset()">Reset</button>
    </div>
    <div class="mt-2">
        <mat-tab-group mat-stretch-tabs class="mat-elevation-z4" (selectedTabChange)="filterParkingSpace($event)">
            <mat-tab *ngFor="let z of zones" [label]="z.zone_title">
                <div align="center" class="mt-3">
                    <input type="checkbox" [checked]="isChecked" (change)="onFilterVacantSpaces($event)">
                    <strong class="ml-2">Show Vacant Spaces</strong>
                </div>
                <div class="row spaceContent" [style.max-height]="!isAgent ? '75vh' : '69vh'">
                    <div class="col-md-6" *ngFor="let s of filteredSpaces">
                        <div class="spaceContainer">
                            <div class="spacecard">
                                <p><strong>{{s.space_title}}</strong></p>
                                <div [ngClass]="(!s.vehicle_reg_num) ? 'spacestatusvacant' : 'spacestatusoccupied'"
                                    (click)="openBookingModal(z._id,s._id,s.vehicle_reg_num,s.vehicle_parking_id)">
                                </div>
                            </div>
                            <hr>
                            <div align="center">
                                <div *ngIf="s.vehicle_reg_num">
                                    <strong>{{s.vehicle_reg_num}}</strong>
                                </div>
                                <div *ngIf="!s.vehicle_reg_num">
                                    NOT BOOKED
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>